main{
  padding: 30px;
}

.wrap{
  border: 4px solid black;
  width:400px;
  text-align: center;

  &__header{
  font-size: 30px;  
  }

  &__message{
    border-top: 4px solid black; 
  }
  
  &__links{
    font-size: 20px;
    &_cars{
      padding: 50px;
    }
    &__chandeliers{
      padding: 50px;
    }
  }
}